#   SPDX-FileCopyrightText: no
#   SPDX-License-Identifier: CC0-1.0
#
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Python

__pycache__

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
*.qmlc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*-build
/build

# QtCreator

*.autosave
qtcreator-build
CMakeLists.txt.user

# KDevelop
*.kdev4

# PyCharm
.idea

# Visual Studio Code
.vscode

# Backup files
*~
*.bak

# Kate
*.kate-swp
tags
build.log
calamares-run.log

# E2E test artifacts (created by ci/e2e-setup.sh)
/e2e/target-disk.img
/e2e/.loop-device

